@import "colors";
@import "typeography";
body{
    margin:0;
}
header{
    
    width:375px;
    height: 136px;
    background-image: url(/assets/mobile/bg-pattern-header.svg);
    position: relative;
    a{
        position: relative;
        top: 29px;
        left: 24px;
    }

}
nav{
    position: absolute;
    width: 327px;
    height: 80px;
    left:24px;
    top:96px;
    background-color: $white;
    display: flex;
    border-radius: 10px;
    input{
        height:80px ;
        width: 160px;
        border: 0;
        margin-left: 24px;
    &:focus{
        outline: none;
    }
    }
    a{
        position: absolute;
    left: 66.97%;
    right: 26.92%;
    top: 37.5%;
    bottom: 37.5%;  
    }
    .search{
        position: absolute;
    width: 48px;
    height: 48px;
    left: 263px;
    top: 16px;
    img{
        border-radius: 10px;
    }

    }
    
}
.content{
    padding-top: 64px;
    display:flex;
    flex-direction: column;
    .box1{
        padding-left: 32px;
        padding-bottom: 32px;
        h4{
            color: $violet;
        }
        p{
            color: $darkgrey;
            margin: 0;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    h2{
        margin: 15px 0;
    }
    }
   
}
button{
    background-color: $violet;
    width:141px ;
    height:48px ;
    color: $white;
    position: absolute;
    left: 117px;
    top: 450px;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
}
