@import "colors";
@import "typeography";
*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
header{
    
    width:375px;
    height: 136px;
    background-image: url(/assets/mobile/bg-pattern-header.svg);
    position: relative;
    a{
        position: relative;
        top: 29px;
        left: 24px;
    }

}
nav{
    position: absolute;
    width: 327px;
    height: 80px;
    left:24px;
    top:96px;
    background-color: $white;
    display: flex;
    border-radius: 10px;
    input{
        height:80px ;
        width: 160px;
        border: 0;
        margin-left: 24px;
    &:focus{
        outline: none;
    }
    &.location{
        display: none;
    }
    }
    .check{
        display: none;
    }
    a{
        position: absolute;
    left: 66.97%;
    right: 26.92%;
    top: 37.5%;
    bottom: 37.5%;  
    }
    .search{
        position: absolute;
    width: 48px;
    height: 48px;
    left: 263px;
    top: 16px;
    img{
        border-radius: 10px;
    }

    }
    
}
.content{
    padding-top: 64px;
    display:flex;
    gap: 60px   ;
    flex-direction: column;
    
    .box{
        padding-left: 32px;
        a{
            text-decoration: none;
            a:visited { text-decoration: none; }
        }
        h4{
            color: $violet;
            padding-top: 44px;
            font-weight: bold;
     
           
        }
        p{
            color: $darkgrey;
            margin: 0;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    h3{
        margin: 15px 0;
        color: $midnight;
        
       
      
    }

    }
   
   
}
footer{
    margin-top: 32px;
    padding-bottom: 62px;
    position: relative;
    button{
        background-color: $violet;
        font-weight: bold;
        width: 141px;
        height: 48px;
        color: $white;
        border:0;
        border-radius: 8px;
        position: absolute;
        left: 117px;
    }
}