@import "colors";
@import "typeography";
@media screen and (min-width:370px) and (max-width:768px) {

    header{
        background-image: url(/assets/tablet/bg-pattern-header.svg);
        width: 768px;
        height: 160px;
        #menu{
            position: relative;
            left: 68%;
            top: 25px;
            color:$white;
        }
        #box{
            width: 100px;
            height: 100px;
            
            position: relative;
            left: 80%;
            top: 15px;
            p{
                position: relative;
                top: 10px;
                cursor: pointer;
                color: $white;
            }
            display: none;
        }
        
        
    }
    nav{
        width: 689px;
        height: 80px;
        display: flex;
        margin-left: 20px;
        #navSearch{
            display: block;
            width: 24px;
            height: 24px;
            position: relative;
            top: 28px;
            left: 10px;
        }
        #navLocation{
            display: block;
            width: 17px;
            height: 24px;
            position: relative;
            top: 28px;
        }
        a{
            display: none;
        }
       input{
        &.location{
            display: block;
           
           
        }
       }
       .check{
       display: flex;
       align-items: center;
       

        input{
            width: 24px;
            height: 24px;
            margin: 0;
            position: relative;
            left: 30px;
        }
        h4{
            color: $midnight;
            width: 68px;
            height: 16px;
            position: relative;
            left: 45px;
        }
        button{
            width: 80px;
            height: 48px;
            background-color: $violet;
            color: $white;
            border: 0;
            border-radius: 6px;
            position: relative;
            left: 80px;
            
        }
       }
    }
    .content{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 56px;
        gap: 11px;
        #filtersMobile{
            display: none;
        }
        
        .box{
            width: 339px;
            height: 253px;
            box-sizing: border-box;
            padding-left: 39px;
           
            
           
            
        }
       
    }
    footer{
        button{
            left: 280px;
            bottom: 61px;
        }
    }


}