@import "colors";
@import "typeography";
@media screen and (min-width:370px) and (max-width:768px) {

    header{
        background-image: url(/assets/tablet/bg-pattern-header.svg);
        width: 768px;
        height: 160px;
    }
    nav{
        width: 689px;
        height: 80px;
        display: flex;
        margin-left: 30px;
       #naviSearch{
        display: block;
        width: 24px;
        height: 24px;
        position:absolute;
        top: 28px;
        left: 20px;
       }
       #naviLocation{
        display: block;
        width: 17px;
        height: 24px;
        position:relative;
        top: 28px;
        left: 30px;
       

       }
        a{
            display: none;
        }
       input{
        position: relative;
        left: 25px;
        &.location{
            display: block;
            position: relative;
            left: 20px;
        }
       }
       .check{
       display: flex;
       align-items: center;
       
       
       

        input{
            width: 24px;
            height: 24px;
            margin: 0;
            position: relative;
            left: 90px;
        }
        h4{
            color: $midnight;
            width: 68px;
            height: 16px;
            position: relative;
            left: 100px;
        }
        button{
            width: 80px;
            height: 48px;
            background-color: $violet;
            color: $white;
            border: 0;
            border-radius: 6px;
            position: relative;
            left: 120px;
            
        }
       }
    }
    .content{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 56px;
        
        
        gap: 11px;
        
        .box{
            width: 339px;
            height: 253px;
            box-sizing: border-box;
            padding-left: 39px;
           
            
           
            
        }
       
    }
    footer{
        button{
            left: 280px;
            bottom: 61px;
        }
    }


}